
.navbar-light .navbar-brand {color: rebeccapurple}

.jumbotron {background-attachment: fixed;
background-image: url(https://www.mcny.org/sites/default/files/CIG%20terrace%20%2B%20website%20image%20cropped_0.jpg);
background-size: contain;
background-color: white;
padding-bottom: 10em;
height: 440px;}

.current {color: rebeccapurple;
font-size: 36px}